.twoLineButton{
	height: 30px;	
	display: list-item !important;
}

.twoLineButton a {
	display: inline-block;
	background-position-y: 5px;
}

#boxCoords{
	margin-bottom:0px;
	margin-top: -20px;
}

pre{
	margin-bottom: 5px;
}

tbody img{
	margin: 0px;
}

td{
	vertical-align: middle;
}

h3{
	cursor: pointer;
}

#final-coordinate, #own-coordinate{
	text-align: center;
}

.gcLink a{
	background: url(../images/LogoGeocaching.png) no-repeat;
}

#mapDiv { 
	height: 350px;
}

#mapDiv  img{
	border: none;
}

.forceHide{
	display: none !important;
}

.greenButton{
	background: #358200;	
	background: -webkit-linear-gradient(top, #00AF4B 0%,#358200 100%);
	box-shadow: inset 0px 1px 1px 0 rgba(34, 233, 2, 1);
	-webkit-box-shadow: inset 0px 1px 1px 0 rgba(34, 233, 2, 1);
}